<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Rides</title>
</head>
<body>
<h1>Rides</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Capacity</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ride : ${rides}">
        <td th:text="${ride.name}"></td>
        <td th:text="${ride.type}"></td>
        <td th:text="${ride.capacity}"></td>
        <td th:text="${ride.duration}"></td>
        <td>
            <a th:href="@{/rides/delete/{name}(name=${ride.name})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/rides/add">
    <button>Add ride</button>
</a>
<a href="/">
    <button>Home</button>
</a>
</body>
</html>